extends layout

block title
  title Access Denied

block body
  h1 Access Denied
  div.alert.alert-warning
    p Access denied.
    p You either have to be logged in or have enough privileges to access content on this page.
